
 <div class="app-main-content">
  <div class="form-container">
    <h2 class="form-title">Notification Form</h2> <!-- Titre ajouté -->
    <form (ngSubmit)="submitNotification()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          id="title"
          class="form-control"
          [(ngModel)]="title"
          name="title"
          required
        />
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea
          id="message"
          class="form-control"
          [(ngModel)]="message"
          name="message"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="incidentType">Incident Type</label>
        <select [(ngModel)]="incidentType" name="incidentType" required>
          <option *ngFor="let type of incidentTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="impact">Impact</label>
        <select [(ngModel)]="impact" name="impact" required>
          <option *ngFor="let imp of impacts" [value]="imp">
            {{ imp }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary mt-2">Send</button>
    </form>
  </div>
</div>
