  <app-header-component></app-header-component>
  <div class="header-swiper">
  <swiper-container class="swiper-container" loop="true" autoplay='{"delay": 2500, "disableOnInteraction": false}'>
    
    <swiper-slide>
   
      <img class="background-image" src="assets\images\image2.png" alt="Image 1">
     <div class="overlay-text">
  <h1>Welcome to SopraPCA</h1>
  <p>Be ready, responsive, and connected in the face of the unexpected.</p>
  <button class="main-btn">Learn More</button>
</div>
    </swiper-slide>

    <swiper-slide>

      <img class="background-image" src="assets\images\image2.png" alt="Image 2">
      
     <div class="overlay-text">
  <h1>Welcome to SopraPCA</h1>
  <p>Simplify Business Continuity Plan management with one click.</p>
 <button class="main-btn">Learn More</button>
</div>
    </swiper-slide>

    <swiper-slide>
      <img class="background-image" src="assets\images\home_LE_upscale_balanced_x4-Photoroom.png" alt="Image 3">
      
    <div class="overlay-text">
  <h1>Welcome to SopraPCA</h1>
  <p>Your guide for fast and secure incident management.</p>
  <button class="main-btn">Learn More</button>
</div>
    </swiper-slide>

  </swiper-container>
</div>