:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: auto;
}

.header-swiper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  position: relative; /* Important pour le positionnement */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(90%);
}

.overlay-text {
  position: absolute;
  transform: translateX(-30%);
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.overlay-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  color: antiquewhite;
}

.overlay-text p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-btn {
  background-color: rgb(214, 35, 34);
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(214, 35, 34, 0.5);
  z-index: 2;
}

.main-btn:hover {
  background-color: #e61c1c;
  box-shadow: 0 6px 20px rgba(214, 35, 34, 0.7);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .overlay-text h1 {
    font-size: 32px;
  }

  .overlay-text p {
    font-size: 16px;
  }

  .main-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
